APPLE_TV_UDID=00000000-0000-0000-0000-000000000000
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=denon/apple_tv_foreground
MQTT_DISCOVERY_PREFIX=homeassistant
RECONNECT_SECONDS=0.5
DVT_POLL_SECONDS=0.5
DVT_TIMEOUT_SECONDS=3
